<% form_for([:admin, @post]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :legacy_id %><br />
    <%= f.text_field :legacy_id %>
  </p>
  <p>
    <%= f.submit(@post.new_record? ? 'Create' : 'Update') %>
  </p>
<% end %>
