<h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Legacy</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%=h post.title %></td>
    <td><%=h truncate(strip_tags(post.body), :length => 100) %></td>
    <td><%=h post.legacy_id %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_admin_post_path(post) %></td>
    <td><%= link_to 'Destroy', [:admin, post], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New post', new_admin_post_path %>
